<div class="flex-column">
  <img class="profile-img" src="img/ladybug.jpg" />
</div>

<div class="left-panel__main-navigation">
  <div class="nav-route blog">
    {{#link-to "blog"}}
      <h1> Blog </h1>
    {{/link-to}}
  </div>

  <div class="nav-route projects">
    {{#link-to "portfolio"}}
      <h1> Projects </h1>
    {{/link-to}}
  </div>

  <div class="nav-route about">
    {{#link-to "about"}}
      <h1> About </h1>
    {{/link-to}}
  </div>
</div>
